{% extends 'index.html' %}
{% block content %}
<h2>{{obj2}}</h2>
<p>{{obj2.discriptions}}</p>
<p>
    <b>Cuisines: </b>
    {% for x in obj %}
    {{x}}
    {% endfor %}<br>
    <b>Rating: </b>{{obj2.rating}}<br>
    <b>Location: </b>{{obj2.location}}<br>
    <b>Contact: </b>{{obj2.contact}}<br>
    <b>Email: </b>{{obj2.email}}<br>
</p>

<h3>Menu Items: </h3>
<table border=1 width=50%>
<tr>
    <th>Items</th>
    <th>Price</th>
    <th>Cuisines type</th>
    <th>Type</th>
</tr>
{% for x in obj3 %}
<tr>
    <td><a href="items/{{x.id}}">{{x}}</a></td>
    <td>{{x.price}} Rs.</td>
    <td>{{x.cuisines_type}}</td>
    <td>{{x.type}}</td>
</tr>
    {% endfor %}
</table>
{% endblock content %}