{% extends 'index.html' %}
{% block content %}
<h2>{{restuarant}}</h2>
<p>{{restuarant.discriptions}}</p>
<p>
    <b>Cuisines: </b>
    {% for cuisines in cuisines %}
    <a href='{{cuisines.id}}/cuisines/'>{{cuisines}}</a>, 
    {% endfor %}<br>
    <b>Type: </b>{{restuarant.veg_type}}<br>
    <b>Rating: </b>{{restuarant.rating}}<br>
    <b>Location: </b>{{restuarant.location}}<br>
    <b>Contact: </b>{{restuarant.contact}}<br>
    <b>Email: </b>{{restuarant.email}}<br>
</p>

<h3>Menu Items: </h3>
<table border=1 width=50%>
<tr>
    <th>Items</th>
    <th>Price</th>
    <th>Cuisines type</th>
    <th>Type</th>
    <th>Edit</th>
    <th>Delete</th>
</tr>
{% for menu in menu %}
<tr>
    <td><a href="../items/{{menu.id}}">{{menu}}</a></td>
    <td>{{menu.price}} Rs.</td>
    <td>{{menu.cuisines_type}}</td>
    <td>{{menu.veg_type}}</td>
    <td><a href="{{menu.id}}/update/">Edit</a></td>
    <td><a href="{{menu.id}}/delete">Delete</a></td>
</tr>
    {% endfor %}
<tr align="center">
    <td colspan=6><a href="create/">Add New Item</a></td>
</tr>
</table>
{% endblock content %}