{% extends 'index.html' %}

{% block content %}
<h3>Restuarant details</h3>
<ul>
{% for res in restuarant %}
    <li><h3><a href="restuarant/{{res.id}}">{{res.name}}</a></h3></li> 
    <ul> 
        <li>{{res.discriptions}}</li>
        <li>{{res.veg_type}}</li>
        <li> Cuisines : 
            {% for cuis in res.cuisines.all %}
            {{cuis}}
            {% endfor %}
        </li>
        <li>{{res.location}}</li>
        <li><a href="{{res.id}}/">Edit</a>   <a href="{{res.id}}/delete">Delete</a></li>
    </ul>
{% endfor %}
</ul><br>
<p><a href="add/">Add Restuarant</a></p><br>

<h3>All Cuisines details</h3>
<ul>
    {% for cuisine in cuisines %}
    <li>{{cuisine}} <a href="edit/{{cuisine.id}}/"><i class='fa fa-edit'></i></a></li>
    {% endfor %}
</ul>
<p><a href="add/cuisines">Add Cuisines</a></p>
{% endblock content %}